@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -ms-overflow-style: none;
}
  
.html{
    scroll-behavior: smooth;
}

.country > path{
    fill: #fefee4;
    transition: fill 200ms;
    stroke: black;
    stroke-width: 1px;
}

.country:hover > path{
    fill: #DB3638;
}

path.highlight {
    fill: #DB3638;
}

heatmapButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 4px;
    border-color: black;
    width: 6rem;
    height: 6rem;
    --tw-bg-opacity: 0.3;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

heatmapButton:hover {
    background-color: white;
}

